<!-- This form -->

{% extends "base.html" %} 
<!-- Extends the base layout through inheritance-->

{% block content %}
	<h1>Sign In</h1>
	<form action="" method="post" name="login"> 
	<!-- References form object instantiated in LoginForm class and stored in templete argument 'form' -->
		{{ form.hidden_tag}} 
		<!-- This has to be here so CSRF can work -->
		<p>
			Please enter your User_ID:<br>
			{{ form.openid(size=80)}}<br> 
			<!-- Renders openid field with width of 80 chracaters -->
			{% for error in form.openid.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %} <br>
		</p>
		<p>{{ form.remember_me }} Remember Me?</p>
		<p><input type="submit" value="Sign In"></p>

	</form>

{% endblock %}